<!-- <ion-view view-title="Playlists">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
 -->

 <ion-view view-title="Restaurants">
<br>
<br>
<br>

<ion-slides > 
	<ion-slide-page ui-sref="rest.mimmos">

		<div class="card bgimg"  > 
			<div class=" item wrapper " id="item1"><img src="../img/mimmos.jpg" alt="" /><br> Mimmos </div> 
		</div> 
	</ion-slide-page> 
	<ion-slide-page> 
		<div class="card bgimg1"> 
			<div class=" item wrapper" id="item1"><img src="../img/piratas.png" alt="" /><br> Piratas </div> 
		</div> 
	</ion-slide-page> 
	<ion-slide-page> 
		<div class="card bgimg2"> 
			<div class=" item wrapper" id="item1"><img src="../img/debonairs.jpg" alt="" /><br> Debonairs</div> 
			
		</div> 
	</ion-slide-page> 
</ion-slides>

</ion-view>