<ion-view view-title="MetroBus App">
  <ion-tabs class="tabs-positive tabs-icon-top">
      <ion-tab title="Inicio" icon="ion-home" ui-sref="home.destination">
          <ion-nav-view name="tab-dest"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Mapa" icon="ion-compass" ui-sref="dashboard.map">
          <ion-nav-view name="tab-map"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Definicoes" icon="ion-settings" ui-sref="home.this">
          <ion-nav-view name="tab-settings"></ion-nav-view>
      </ion-tab>
  </ion-tabs>
</ion-view>