<ion-view view-title="MetroBus App">
  <ion-tabs class="tabs-positive tabs-icon-top">
      <ion-tab title="Home" icon="ion-home" ui-sref="home.destination">
          <ion-nav-view name="tab-dest"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Navigate" icon="ion-compass" ui-sref="home.this">
          <ion-nav-view name="tab-navigation"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Home" icon="ion-settings" ui-sref="home.this">
          <ion-nav-view name="tab-settings"></ion-nav-view>
      </ion-tab>
  </ion-tabs>
</ion-view>