<ion-view view-title="MetroBus App">
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Home" icon="ion-home" ui-sref="dashboard.home">
            <ion-nav-view name="tab-home"></ion-nav-view>
        </ion-tab>
       <!--  <ion-tab title="Transport" icon="ion-settings" ui-sref="home.destination">
            <ion-nav-view name="tab-dest"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Mapa" icon="ion-compass" ui-sref="dashboard.map">
            <ion-nav-view name="tab-map"></ion-nav-view>
        </ion-tab> -->
    </ion-tabs>
</ion-view>