<ion-view view-title="Txeka App" ng-controller="AjaxCtrl">
  <ion-content class="bg">
      <div class="theCard1">
        <div>
          <img src="img/logo.png" alt="">
          <p class="slogan">o poder nas tuas mãos</p>
        </div>
      </div>
      <a class="theLink" ui-sref="map">
        <div class="theCard">
          <span>
            <i class="fas fa-bus-alt"></i>
            <h3>Transportes</h3>
          </span>
        </div>
      </a>
      <a class="theLink" ui-sref="rest.restaurants">
        <div class="theCard">
          <span>
            <i class="fas fa-utensils"></i>
            <h3>Restaurantes</h3>
          </span>
        </div>
      </a>
      <a class="theLink" ui-sref="shop.home">
        <div class="theCard">
          <span>
            <i class="fas fa-store"></i>
            <h3>Lojas</h3>
          </span>
        </div>
      </a>
      <a class="theLink" ui-sref="map">
        <div class="theCard">
          <span>
            <i class="fas fa-hotel"></i>
            <h3>Farmacias</h3>
          </span>
        </div>
      </a>
  </ion-content>
</ion-view>