<ion-view view-title="MetroApp" >
	<ion-content padding class="login-signup">
		<center>
			<img class="logo" src="./img/metrobuslogo.png" alt="">
		</center>
		<!-- <div class="panel panel-default">
			<div class="panel-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="origin" class="col-sm-2 control-label">Distancia</label>
						<div class="col-sm-8">
							<input type="text" id="origin" class="form-control" ng-model="directions.origin" />
							<p class="help-block">Example block-level help text here.</p>
						</div>
					</div>
					<div class="form-group">
						<label for="destination" class="col-sm-2 control-label">Tempo</label>
						<div class="col-sm-8">
							<input type="text" id="destination" class="form-control" ng-model="directions.destination" />
							<p class="help-block">Example block-level help text here.</p>
						</div>
					</div>
					</div>
				</form>
			</div>
		</div> -->
		<br>
		<center>
			<h1 style="color: darkblue">
			O Teu Bus Ja Foi Reservado!
		</h1>
		</center>
		
		<!-- <a class="button button-block button-positive round center">
		Reserve Agora o teu Bus!
		</a> -->
	</ion-content>
</ion-view>
