<ion-view view-title="Restaurants" >
 	<ion-content>
	<div class="list">
		<div class="row responsive-sm responsive-md">
			<div class= "col ">
				<button class="item" ui-sref="rest.mimmos">
			      <img src="../img/mimmos.jpg">
			      <h2>Mimmos</h2>
			    </button>
			</div>
			
			<div class="col">
			    <button class="item" href="#">
			      <img src="../img/piratas.png">
			      <h2>Piratas</h2>
			    </button>
			</div>

		</div>
		<div class="row responsive-sm responsive-md">
			<div class="col">
				<button class="item" href="#">
			      <img src="../img/debonairs.jpg">
			      <h2>Debonairs</h2>
			    </button>
			</div>
		</div>

		
	    
	    
	    
	</div>

	</ion-content>
</ion-view>